<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_lake</string>
		<key>lv</key>
		<integer>51</integer>
		<key>enemies</key>
		<array/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>きっとヒヨコは四天王最弱</string>
		<key>event_text1</key>
		<string>楽勝に違いない！</string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>chibidora</string>
			<string>buffalo</string>
			<string>knight</string>
		</array>
		<key>is_random</key>
		<true/>
	</dict>
	<key>0.5</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>buffalo</string>
			<string>buffalo</string>
			<string>buffalo</string>
			<string>real_hiyoko</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>boss_name</key>
		<string>憎悪のヒヨコ</string>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<false/>
	</dict>
</dict>
</plist>
