<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skelton_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>来たか。カッパよ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>どうして裏切った……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前はもう少し</string>
			<key>text2</key>
			<string>骨のある奴だと思ってた！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>ふっふっふ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>新しく手に入れたこの力……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>real_skelton</string>
			<key>text1</key>
			<string>試させてもらおう！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>な、なんだこのグラフィックはーー！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>skelton_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>バカな……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>最高のグラフィックの、力が……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>信念のない力など、ただの暴力にすぎん</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>その言葉……骨身にしみるぜ……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>tokage_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>降伏しろ。</string>
			<key>text2</key>
			<string>１章をやり込んだ俺は無敵だ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>ふっふっふ。</string>
			<key>text2</key>
			<string>２章に来てから、違和感がないか？</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>確かに、なんかダメージが低いし</string>
			<key>text2</key>
			<string>一部のスキルが発動しない……。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>ゲームで一番重要なのは</string>
			<key>text2</key>
			<string>グラフィック。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>real_tokage</string>
			<key>text1</key>
			<string>２章ではかっこいい者こそが</string>
			<key>text2</key>
			<string>最強なのだ！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>こいつも、新グラフィックを……！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>real_tokage</string>
			<key>text1</key>
			<string>スタイリッシュな攻撃で</string>
			<key>text2</key>
			<string>貴様を倒す！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>tokage_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>real_tokage</string>
			<key>text1</key>
			<string>ぐへー</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>カッパよ……</string>
			<key>text2</key>
			<string>俺は　正気に戻った</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（なんか知らんが改心したぞ）</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>知ってる事を話してもらおうか</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>広告の向こうには……</string>
			<key>text2</key>
			<string>別の世界があったんだ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>広告はこの世界と、別世界を繋ぐ</string>
			<key>text2</key>
			<string>ゲートなんだ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>広告の力をうまく利用すれば</string>
			<key>text2</key>
			<string>新グラフィックを手にいれる事ができるんだ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>な、なんだってー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>カッパ。</string>
			<key>text2</key>
			<string>広告の力に魅せられた者たちに</string>
		</dict>
		<dict>
			<key>name</key>
			<string>トカゲ</string>
			<key>image</key>
			<string>tokage</string>
			<key>text1</key>
			<string>どうか負けないで欲しい。</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>miira_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>miira</string>
			<key>text1</key>
			<string>この世は所詮、</string>
			<key>text2</key>
			<string>弱肉強食……。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>real_miira</string>
			<key>text1</key>
			<string>強ければ生き、</string>
			<key>text2</key>
			<string>弱ければ死ぬのだ！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前はそのセリフを</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>サバンナでも言えるのかー！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>miira_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>real_miira</string>
			<key>text1</key>
			<string>ま、負けた……</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前たちの黒幕は誰だ！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>miira</string>
			<key>text1</key>
			<string>それについては、</string>
			<key>text2</key>
			<string>驚邏大四凶殺で勝てたら教えよう。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>妹</string>
			<key>image</key>
			<string>sister</string>
			<key>text1</key>
			<string>驚邏大四凶殺ですと！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>知っているのか、妹よ</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>妹</string>
			<key>image</key>
			<string>sister</string>
			<key>text1</key>
			<string>聞いた事があります……</string>
			<key>text2</key>
			<string>とにかく４人のボスを倒す試練だとか。</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>よし、弱い奴から倒していこう</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>zombi_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ゾンビ</string>
			<key>image</key>
			<string>zombi</string>
			<key>text1</key>
			<string>カッパ。</string>
			<key>text2</key>
			<string>君はドット絵で満足かい？</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ゾンビ</string>
			<key>image</key>
			<string>real_zombi</string>
			<key>text1</key>
			<string>広告の力で</string>
			<key>text2</key>
			<string>新しい姿に生まれ変わろう！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前、もはや原型が……</string>
			<key>text2</key>
			<string>全然ないじゃないか！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ゾンビ</string>
			<key>image</key>
			<string>real_zombi</string>
			<key>text1</key>
			<string>ドット絵だった頃の自分なんて</string>
			<key>text2</key>
			<string>もう忘れたよ！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前はドット絵と一緒に</string>
			<key>text2</key>
			<string>カッパ魂まで忘れたようだな</string>
		</dict>
	</array>
	<key>zombi_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ゾンビ</string>
			<key>image</key>
			<string>real_zombi</string>
			<key>text1</key>
			<string>つ、強い……</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>ゾンビ</string>
			<key>image</key>
			<string>zombi</string>
			<key>text1</key>
			<string>ゲームにグラフィックは大事だけど</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ゾンビ</string>
			<key>image</key>
			<string>zombi</string>
			<key>text1</key>
			<string>他にももっと大切なものがあるのか</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>そうだ。</string>
			<key>text2</key>
			<string>かっぱ魂が大事だ。</string>
		</dict>
	</array>
	<key>hiyoko_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>武器を捨てて大人しく降伏しろ！</string>
			<key>text2</key>
			<string>お袋さんが泣いてるぞー！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>主人公の君には</string>
			<key>text2</key>
			<string>最弱キャラの気持ちなんて分かるまい……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>僕は大した攻撃力も</string>
			<key>text2</key>
			<string>特殊能力もない、ただのやられ役</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>でも、この広告の力があれば……</string>
			<key>text2</key>
			<string>下剋上も可能だ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>real_hiyoko</string>
			<key>text1</key>
			<string>あの世で僕にわび続けろ</string>
			<key>text2</key>
			<string>カッパァーー！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>なんて憎悪だ……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（何度攻撃しても、</string>
			<key>text2</key>
			<string>こいつは倒れる気がしない）</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（ひよこの憎悪を沈める方法はないか？）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>hiyoko_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>分かるってばよ……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>ヒヨコの気持ち</string>
			<key>text2</key>
			<string>分かるってばよ……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>real_hiyoko</string>
			<key>text1</key>
			<string>お前に何が分かる！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>俺も昔はLV1だったから</string>
			<key>text2</key>
			<string>ヒヨコの気持ち、分かるってばよ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>real_hiyoko</string>
			<key>text1</key>
			<string>……カッパ</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>僕の、負けだ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>君がかっこいいのは</string>
			<key>text2</key>
			<string>グラフィックとかじゃなく</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>きっとその生き様が</string>
			<key>text2</key>
			<string>かっこいいんだ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ヒヨコ</string>
			<key>image</key>
			<string>hiyoko</string>
			<key>text1</key>
			<string>僕は君のように</string>
			<key>text2</key>
			<string>なりたかったんだ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>わかるってばよ……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>red_dragon_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>ンゴゴゴ……</string>
			<key>text2</key>
			<string>誰だ？　我が眠りを妨げるカッパは？</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>我が名はエズターク。</string>
			<key>text2</key>
			<string>今はそれしか思い出せぬ……。</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>……お前は私を</string>
			<key>text2</key>
			<string>滅ぼすためにやってきたのか？</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>……なぜこんな危険な場所に来たのか</string>
			<key>text2</key>
			<string>自分でもさっぱりだが</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>とにかく勝負だ！</string>
			<key>text2</key>
			<string>ケェーーー！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>……全力で</string>
			<key>text2</key>
			<string>お相手しよう！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>dancer_per</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>踊り子。</string>
			<key>text2</key>
			<string>どうして君までも……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>ごめんなさい。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>私はやっと手に入れたの。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>自慢のナイスバディを！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>これでイケメン彼氏をゲットして</string>
			<key>text2</key>
			<string>幸せになるのよ！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>……今のあんたが、</string>
			<key>text2</key>
			<string>いちばんみにくいぜ！</string>
		</dict>
	</array>
	<key>dancer_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>ごめんなさい。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>私、どうしても</string>
			<key>text2</key>
			<string>ナイスバディになりたかったの</string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>そしてイケメンな眼鏡男子に</string>
			<key>text2</key>
			<string>チヤホヤされたかったのよ……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（なんて悲しいBGMだなんだ）</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（おかげで凄く良い話のような気がして来た）</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>ありのーままのー</string>
			<key>text2</key>
			<string>君で良いんじゃないかな</string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>なんて元気が出る歌……！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>私は、ありのままでよかったんだ！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>レリゴ〜　レリゴ〜</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
