<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skelton_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>どうして裏切った……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前はもう少し</string>
			<key>text2</key>
			<string>骨のある奴だと思ってた！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>新しく手に入れたこの力……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>real_skelton</string>
			<key>text1</key>
			<string>試させてもらうよ！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>skelton_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>お見事……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>miira_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>miira</string>
			<key>text1</key>
			<string>この世は所詮、</string>
			<key>text2</key>
			<string>弱肉強食……。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>miira</string>
			<key>text1</key>
			<string>強ければ生き、</string>
			<key>text2</key>
			<string>弱ければ死ぬのだ！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>なんて危険な思想だ……</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>こいつはここで倒す！</string>
			<key>text2</key>
			<string>悪・即・斬！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>red_dragon_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>ンゴゴゴ……</string>
			<key>text2</key>
			<string>誰だ？　我が眠りを妨げるカッパは？</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>我が名はエズターク。</string>
			<key>text2</key>
			<string>今はそれしか思い出せぬ……。</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>……お前は私を</string>
			<key>text2</key>
			<string>滅ぼすためにやってきたのか？</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>……なぜこんな危険な場所に来たのか</string>
			<key>text2</key>
			<string>自分でもさっぱりだが</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>とにかく勝負だ！</string>
			<key>text2</key>
			<string>ケェーーー！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>エズターク</string>
			<key>image</key>
			<string>red_dragon</string>
			<key>text1</key>
			<string>……全力で</string>
			<key>text2</key>
			<string>お相手しよう！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>dancer_per</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>踊り子。</string>
			<key>text2</key>
			<string>どうして君までも……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>ごめんなさい。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>私はやっと手に入れたの。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>自慢のナイスバディを！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>これでイケメン彼氏をゲットして</string>
			<key>text2</key>
			<string>幸せになるのよ！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>……今のあんたが、</string>
			<key>text2</key>
			<string>いちばんみにくいぜ！</string>
		</dict>
	</array>
	<key>dancer_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>ごめんなさい。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>私、どうしても</string>
			<key>text2</key>
			<string>ナイスバディになりたかったの</string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>そしてイケメンな眼鏡男子に</string>
			<key>text2</key>
			<string>チヤホヤされたかったのよ……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（なんて悲しいBGMだなんだ）</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（おかげで凄く良い話のような気がして来た）</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>ありのーままのー</string>
			<key>text2</key>
			<string>君で良いんじゃないかな</string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>なんて元気が出る歌……！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>私は、ありのままでよかったんだ！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>レリゴ〜　レリゴ〜</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
