<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skelton_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>いざ、尋常に勝負！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>新しく手に入れたこの力……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホネ</string>
			<key>image</key>
			<string>real_skelton</string>
			<key>text1</key>
			<string>試させてもらうよ！</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
	<key>skelton_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>skelton</string>
			<key>text1</key>
			<string>お見事……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>miira_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>miira</string>
			<key>text1</key>
			<string>この世は所詮、</string>
			<key>text2</key>
			<string>弱肉強食……。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCO</string>
			<key>image</key>
			<string>miira</string>
			<key>text1</key>
			<string>強ければ生き、</string>
			<key>text2</key>
			<string>弱ければ死ぬのだ！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>なんて危険な思想だ……</string>
			<key>text2</key>
			<string></string>
			<key>sizeFree</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>こいつはここで倒す！</string>
			<key>text2</key>
			<string>悪・即・斬！</string>
			<key>sizeFree</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
