<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tanuki</key>
	<dict>
		<key>name</key>
		<string>悪魔タヌキ</string>
		<key>hp</key>
		<integer>100</integer>
		<key>str</key>
		<integer>50</integer>
		<key>def</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>100</integer>
		<key>int</key>
		<integer>1</integer>
		<key>pie</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>isMovingFree</key>
		<true/>
		<key>dx</key>
		<integer>3</integer>
	</dict>
	<key>red_dragon</key>
	<dict>
		<key>name</key>
		<string></string>
		<key>hp</key>
		<integer>50000</integer>
		<key>str</key>
		<integer>1000</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>1000</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>range</key>
		<integer>3</integer>
		<key>canLazer</key>
		<true/>
		<key>type</key>
		<string>human</string>
		<key>isSizeFree</key>
		<true/>
	</dict>
	<key>real_skelton</key>
	<dict>
		<key>name</key>
		<string></string>
		<key>hp</key>
		<integer>1000</integer>
		<key>str</key>
		<integer>300</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>1200</integer>
		<key>int</key>
		<integer>60</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>range</key>
		<integer>3</integer>
		<key>canLazer</key>
		<true/>
		<key>isSizeFree</key>
		<true/>
		<key>type</key>
		<string>human</string>
	</dict>
	<key>usagi</key>
	<dict>
		<key>name</key>
		<string></string>
		<key>hp</key>
		<integer>1000</integer>
		<key>str</key>
		<integer>20</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>1200</integer>
		<key>int</key>
		<integer>60</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>range</key>
		<integer>3</integer>
		<key>isSizeFree</key>
		<true/>
		<key>type</key>
		<string>human</string>
	</dict>
</dict>
</plist>
