<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>murabito</key>
	<dict>
		<key>name</key>
		<string>村人</string>
		<key>explain</key>
		<string>戦闘には向かない村人。 成長率も低いので早く転職した方が良い。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV5 :  ど根性カッパ] HPが2以上の時に攻撃を受けても、一度だけ復活します。 復活後のHPは幸運の値と一緒になります。 村人LV5で習得。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>knight</key>
	<dict>
		<key>name</key>
		<string>騎士</string>
		<key>explain</key>
		<string>守る事に重きを置いた戦士。 鉄壁の防御力を誇る。</string>
		<key>own_skill</key>
		<string>[高身長] 身長が高くなります。</string>
		<key>general_skill</key>
		<string>[機械学習(lv)]
LVアップするたびにHPが(lv)回復。 回復量は騎士LVに等しい。 </string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>priest</key>
	<dict>
		<key>name</key>
		<string>僧侶</string>
		<key>explain</key>
		<string>敬虔な僧侶。 神秘の力でHPを回復する事ができる。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[カッパヒール]
20タップごとにHPが回復する。
回復量は僧侶LVに等しい。</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>wizard</key>
	<dict>
		<key>name</key>
		<string>魔法使い</string>
		<key>explain</key>
		<string>趣味：黒魔術。 魔力を高め必殺技の威力を極める事を人生の目的としている。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV10  カッパ波動砲・改] カッパ波動砲が敵を貫通するようになります。 魔法使いLV10で習得。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>thief</key>
	<dict>
		<key>name</key>
		<string>盗賊</string>
		<key>explain</key>
		<string>盗みで生計を立てる者。 生きるために磨かれた独自の技術を持つ。</string>
		<key>own_skill</key>
		<string>[縮地] 通常移動が高速になる。</string>
		<key>general_skill</key>
		<string>[moveヒール]
マップを移動するたびにHPが回復する。
回復量は盗賊LVに等しい。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>3</integer>
	</dict>
	<key>archer</key>
	<dict>
		<key>name</key>
		<string>狩人</string>
		<key>explain</key>
		<string>狩を生業とする者。 弓を扱えば右に出る者はいない。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV10  カッパ昇熊拳・改] カッパ昇熊拳に横回転の動きが加わり、 ダメージ計算に敏捷も加わります。 狩人LV10で習得。</string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>necro</key>
	<dict>
		<key>name</key>
		<string>ネクロマンサー</string>
		<key>explain</key>
		<string>死者を操る禁術に魅入られし者。 呪いによる独特なスキルを扱う。</string>
		<key>own_skill</key>
		<string>[成仏] ゾンビやミイラの転生能力を封じる。</string>
		<key>general_skill</key>
		<string>[生命奪取] 敵を撃破時に、ネクロマンサーLVだけHPを回復する。</string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>3</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>dancer</key>
	<dict>
		<key>name</key>
		<string>踊り子</string>
		<key>explain</key>
		<string></string>
		<key>own_skill</key>
		<string>[縮地] 移動が早くなります。</string>
		<key>general_skill</key>
		<string>[LV10:ステップアップ] タップする毎に経験値を1獲得します。 踊り子LV10で習得。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>fighter</key>
	<dict>
		<key>name</key>
		<string>勇者</string>
		<key>explain</key>
		<string>攻めるのが大好き</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV10  真・カッパ頭突き] カッパ頭突きと同時に波動が発動するようになります。 勇者LV10で習得。</string>
		<key>hp</key>
		<integer>5</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>2</integer>
	</dict>
	<key>ninja</key>
	<dict>
		<key>name</key>
		<string>忍者</string>
		<key>explain</key>
		<string>みんな大好き忍者。ニンニン！</string>
		<key>own_skill</key>
		<string>クリティカル２倍</string>
		<key>general_skill</key>
		<string>[LV10  滅・昇熊拳] 昇熊拳を使用時、上方向に波動を発生させる。 忍者LV10で習得</string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>3</integer>
		<key>agi</key>
		<integer>4</integer>
		<key>int</key>
		<integer>3</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>angel</key>
	<dict>
		<key>name</key>
		<string>天使</string>
		<key>explain</key>
		<string>天界より舞い降りた神の使い。 人智を超えた力を持つ。  ただでさえ天使なカッパが、職業まで天使になったら僕たちはどうすれば良いんだ……。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[頭突き回復] カッパ頭突きを行うたびにHPが回復する。 回復量は天使LVに等しい。</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>6</integer>
	</dict>
	<key>gundom</key>
	<dict>
		<key>name</key>
		<string>機動戦士</string>
		<key>explain</key>
		<string>謎の技術による戦士。 ロマンに満ち溢れている。</string>
		<key>own_skill</key>
		<string>炎無効</string>
		<key>general_skill</key>
		<string>[LV10　滅・竜巻旋風蹴] 竜巻旋風脚を使用時、上方向に波動を発生させる。 機動戦士LV10で取得</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>king</key>
	<dict>
		<key>name</key>
		<string>皇帝</string>
		<key>explain</key>
		<string>国を治める王。 人の上に立つ器が求められる。</string>
		<key>own_skill</key>
		<string>通常攻撃ダメージ２倍</string>
		<key>general_skill</key>
		<string>[カッパ波動砲の極み] 波動砲を打つたびにHPが回復する。 回復量は皇帝LVに等しい。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>maou</key>
	<dict>
		<key>name</key>
		<string>魔王</string>
		<key>explain</key>
		<string>魔物を統べる王。 フードをかぶり意味深な事を言うのが仕事。</string>
		<key>own_skill</key>
		<string>必殺技チャージ２倍</string>
		<key>general_skill</key>
		<string>[カッパ昇熊拳の極み] 昇熊拳を打つたびにHPが回復する。 回復量は魔王LVに等しい。</string>
		<key>hp</key>
		<integer>5</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>3</integer>
	</dict>
	<key>assassin</key>
	<dict>
		<key>name</key>
		<string>暗殺者</string>
		<key>explain</key>
		<string>確実にターゲットを暗殺する闇の業者。  物理攻撃を極めるならばこの職業</string>
		<key>own_skill</key>
		<string>[超縮地] 移動速度が最速になる</string>
		<key>general_skill</key>
		<string>[カッパ竜巻の極み] カッパ旋風蹴を使うたびにHPが回復。 回復量は暗殺者LVに等しい。</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>7</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>miyuki</key>
	<dict>
		<key>name</key>
		<string>妹</string>
		<key>explain</key>
		<string>兄を敬愛する存在。  スキルは無いが、成長率がとても高い</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>なし</string>
		<key>hp</key>
		<integer>7</integer>
		<key>str</key>
		<integer>3</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>3</integer>
		<key>luc</key>
		<integer>3</integer>
	</dict>
	<key>dark_kappa</key>
	<dict>
		<key>name</key>
		<string>暗黒騎士</string>
		<key>explain</key>
		<string>ある目的を叶えるため、他の全てを捨てた騎士。  固有アビリティは強力だが、 ステータスは成長しないので注意。 </string>
		<key>own_skill</key>
		<string>必殺技チャージ３倍</string>
		<key>general_skill</key>
		<string>なし</string>
		<key>hp</key>
		<integer>0</integer>
		<key>str</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>arakure</key>
	<dict>
		<key>name</key>
		<string>荒くれ</string>
		<key>explain</key>
		<string>世紀末を自由に生きる無法者。  一切の経験値が入らないので、 敢えてハードなプレイをしたい人向けの職業。 ヒャッハー！</string>
		<key>own_skill</key>
		<string>[無成長] 一切の経験値が手に入らない。 まるで成長していない……。</string>
		<key>general_skill</key>
		<string>なし</string>
		<key>hp</key>
		<integer>0</integer>
		<key>str</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
