<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tutorial_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>……来たか。</string>
			<key>text2</key>
			<string>我が弟子、カッパよ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>河童神拳は一子相伝。</string>
			<key>text2</key>
			<string>我々のうち、生き残った者が後継者だ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>な、なんだってー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>情けは無用！</string>
			<key>text2</key>
			<string>行くぞぉ！</string>
		</dict>
	</array>
	<key>tutorial_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>……お見事</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>その力で、世界を平和にしてくれ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>ししょーーーーーーー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>俺は師匠の分も</string>
			<key>text2</key>
			<string>立派なカッパとして生きていきます……！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>（死んでないとは言いにくい空気だ）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>wizard_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>あなたがカッパ神拳の後継者……</string>
			<key>text2</key>
			<string>(name)ですね。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>帝国の命令により</string>
			<key>text2</key>
			<string>危険分子を排除させていただきます。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>あらゆるデータから計算して</string>
			<key>text2</key>
			<string>私の勝率は98%</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>2%の勝機があれば充分！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>wizard_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>くっ、殺せ！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>……勝負はついた。</string>
			<key>text2</key>
			<string>命を捨てる必要はない。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>き、君というカッパは……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>私の完敗だ！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>私の魔法使いの力を</string>
			<key>text2</key>
			<string>あなたに託そう……。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（魔法使いのジョブを会得した）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>knight_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>……死刑執行</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（なんて無口な敵だ）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>knight_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>お見事……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（とことん無口な人だ）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>priest_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>スカラー</string>
			<key>image</key>
			<string>priest</string>
			<key>text1</key>
			<string>死こそが救い……</string>
			<key>text2</key>
			<string>共に天国に行きましょう</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>一人で行け！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>(敵の回復力は凄まじい)</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>(攻撃連打で一気に押し切る！)</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>priest_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>スカラー</string>
			<key>image</key>
			<string>priest</string>
			<key>text1</key>
			<string>神様……。</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>thief_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ウェア・スパイ</string>
			<key>image</key>
			<string>thief</string>
			<key>text1</key>
			<string>ヒャッハー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ウェア・スパイ</string>
			<key>image</key>
			<string>thief</string>
			<key>text1</key>
			<string>金を置いていきな。</string>
			<key>text2</key>
			<string>女の連絡先は全て奪い尽くせー！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前らの皿は何色だぁーーーー！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>thief_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ウェア・スパイ</string>
			<key>image</key>
			<string>thief</string>
			<key>text1</key>
			<string>ヒェー、命だけはお許しをー</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>悪党に払う金など</string>
			<key>text2</key>
			<string>１ゴールドも無い！</string>
		</dict>
	</array>
	<key>archer_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>狩る者　オブジェ</string>
			<key>image</key>
			<string>archer</string>
			<key>text1</key>
			<string>森のフレンズたちの</string>
			<key>text2</key>
			<string>怒りを知れ！</string>
		</dict>
	</array>
	<key>archer_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>狩る者　オブジェ</string>
			<key>image</key>
			<string>archer</string>
			<key>text1</key>
			<string>つ、強すぎる……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>勝った、勝った！</string>
			<key>text2</key>
			<string>夕飯はドン勝だ！</string>
		</dict>
	</array>
	<key>dancer_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お、可愛い子ちゃん発見！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>冷たい谷の踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>踊りましょう……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>冷たい谷の踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>その足が真っ赤になって</string>
			<key>text2</key>
			<string>踊れなくなるまで……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（……メンヘラだったか）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>dancer_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>冷たい谷の踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>もう踊れない……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>ninja_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>えんじに丸</string>
			<key>image</key>
			<string>ninja</string>
			<key>text1</key>
			<string>……残像だ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>は、速い！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>ninja_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>えんじに丸</string>
			<key>image</key>
			<string>ninja</string>
			<key>text1</key>
			<string>……残像、じゃない</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>necro_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>死霊術師リスプ</string>
			<key>image</key>
			<string>necro</string>
			<key>text1</key>
			<string>今日からこのゲームのタイトルは</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>死霊術師リスプ</string>
			<key>image</key>
			<string>necro</string>
			<key>text1</key>
			<string>カッパ・オブ・ザ・デッド！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>させるかぁ！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>necro_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>死霊術師リスプ</string>
			<key>image</key>
			<string>necro</string>
			<key>text1</key>
			<string>これで憧れのゾンビに……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>gundom_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ガソダム</string>
			<key>image</key>
			<string>gundom</string>
			<key>text1</key>
			<string>……カッパを発見。</string>
			<key>text2</key>
			<string>……カッパを発見。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>こいつ……動くぞ！？</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ガソダム</string>
			<key>image</key>
			<string>gundom</string>
			<key>text1</key>
			<string>ビームサーベル装備。</string>
			<key>text2</key>
			<string>銭湯を開始します。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>やるしか……ないのか！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>カッパ、いきまーす！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>gundom_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ガソダム</string>
			<key>image</key>
			<string>gundom</string>
			<key>text1</key>
			<string>……活動限界。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>当たらなければ</string>
			<key>text2</key>
			<string>どうという事もない！</string>
		</dict>
	</array>
	<key>angel_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>天使</string>
			<key>image</key>
			<string>angel</string>
			<key>text1</key>
			<string>……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>？</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>angel_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>天使</string>
			<key>image</key>
			<string>angel</string>
			<key>text1</key>
			<string>……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>？</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>fighter_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>勇者レイルズ</string>
			<key>image</key>
			<string>fighter</string>
			<key>text1</key>
			<string>カッパ如きに、何ができる！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前に勝てる！（どんっ）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>fighter_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>勇者レイルズ</string>
			<key>image</key>
			<string>fighter</string>
			<key>text1</key>
			<string>さすがカッパさん……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>king_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>貴様が解放軍のリーダー</string>
			<key>text2</key>
			<string>(name)か</string>
		</dict>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>この世界がおかしいと</string>
			<key>text2</key>
			<string>感じた事はないか？</string>
		</dict>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>我らの頭上に</string>
			<key>text2</key>
			<string>常に得体の知れない何かがあると……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>私はただ、</string>
			<key>text2</key>
			<string>その支配から逃れたいだけだ！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>問答無用！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>king_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>グハァー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>しかし残念ながら</string>
			<key>text2</key>
			<string>私は魔王ではない</string>
		</dict>
		<dict>
			<key>name</key>
			<string>リッチキング</string>
			<key>image</key>
			<string>king</string>
			<key>text1</key>
			<string>真の魔王は</string>
			<key>text2</key>
			<string>魔王城にいるのだ！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>な、なんだってー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>(kappa)</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>よし、魔王城に行くか</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>maou_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>魔王</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>来たか……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>魔王</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>光と闇、どちらが残るべきか。</string>
			<key>text2</key>
			<string>決着を付けよう。</string>
		</dict>
	</array>
	<key>maou_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>魔王</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>……ぐふっ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>魔王め、正体を見せろ！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>フードなんて付けて</string>
			<key>text2</key>
			<string>格好つけてるんじゃねえ！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>???</string>
			<key>image</key>
			<string>miyuki</string>
			<key>text1</key>
			<string>私の呪いを解くなんて……</string>
			<key>text2</key>
			<string>さすが、お兄様</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前は俺の妹！？</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>妹</string>
			<key>image</key>
			<string>miyuki</string>
			<key>text1</key>
			<string>私は真の黒幕に操られていたんです。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>な、なんだってー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>真犯人は……</string>
			<key>text2</key>
			<string>別にいるという事か</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>この事件、必ず俺が解決する。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>カッパの名にかけて！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>miyuki_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>妹</string>
			<key>image</key>
			<string>miyuki</string>
			<key>text1</key>
			<string>あああ……また操られる〜</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>戦うしか、ないのか！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>miyuki_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>妹</string>
			<key>image</key>
			<string>miyuki</string>
			<key>text1</key>
			<string>私は、正気に戻った！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>よし。</string>
			<key>text2</key>
			<string>真犯人のヒントを聞こう。</string>
		</dict>
	</array>
</dict>
</plist>
