<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tutorial_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>チュートリアルのクリアおめでとう。</string>
			<key>text2</key>
			<string>そしてお疲れ様。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>これからは僕が主人公をするので</string>
			<key>text2</key>
			<string>ゆっくり休むと良いよ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>主人公の座は渡さん！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>tutorial_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>今日は体調が悪いので</string>
			<key>text2</key>
			<string>ここでギブアップしておくよ……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>これからは僕は酒場で</string>
			<key>text2</key>
			<string>情報収集する事で君を手伝う。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>チュー・トリアル</string>
			<key>image</key>
			<string>megane</string>
			<key>text1</key>
			<string>冒険の合間に酒場に寄る。</string>
			<key>text2</key>
			<string>これはとても重要な事だから忘れないで。</string>
		</dict>
	</array>
	<key>wizard_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>我が舞空術の力、お見せしよう</string>
			<key>text2</key>
			<string>この高さでは通常攻撃は当たるまい！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>あなたが必殺技の昇熊拳でも使わぬ限り</string>
			<key>text2</key>
			<string>私を倒す事は永遠にできないのだ！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>……昇熊拳のコマンドは</string>
			<key>text2</key>
			<string>→　→　←　→　←　だったな。</string>
		</dict>
	</array>
	<key>wizard_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>つ、強い……</string>
			<key>text2</key>
			<string>さすがはカッパさん。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>あなたに倒されたボスたちはきっと改心し</string>
			<key>text2</key>
			<string>酒場に顔を出すようになるでしょう。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ジャバ</string>
			<key>image</key>
			<string>wizard</string>
			<key>text1</key>
			<string>どんな悪い人も本当は</string>
			<key>text2</key>
			<string>飲み会に誘って欲しいんですよ……。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（……魔法使いのジョブを入手した）</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>どうやら自分には</string>
			<key>text2</key>
			<string>倒した敵の力を奪う能力があるようだ</string>
		</dict>
	</array>
	<key>knight_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>さて、最後の修行を始めよう。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>河童神拳は一子相伝。</string>
			<key>text2</key>
			<string>我々のうち、生き残った者が後継者だ。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>な、なんだってー！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>迷いのある拳では</string>
			<key>text2</key>
			<string>通常攻撃無効の私を倒せぬぞ！</string>
		</dict>
	</array>
	<key>knight_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>お見事……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>シー・シャープ</string>
			<key>image</key>
			<string>knight</string>
			<key>text1</key>
			<string>その力で世界を平和に……</string>
			<key>text2</key>
			<string>グフッ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お師匠様……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>priest_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>スカラー</string>
			<key>image</key>
			<string>priest</string>
			<key>text1</key>
			<string>死こそが救い……</string>
			<key>text2</key>
			<string>共に天国に行きましょう</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>一人で行け！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>priest_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>スカラー</string>
			<key>image</key>
			<string>priest</string>
			<key>text1</key>
			<string>神様……。</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>thief_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ウェア・スパイ</string>
			<key>image</key>
			<string>thief</string>
			<key>text1</key>
			<string>ヒャッハー！</string>
			<key>text2</key>
			<string>金を置いて行きな</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前らの皿は何色だぁーーーー！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>thief_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ウェア・スパイ</string>
			<key>image</key>
			<string>thief</string>
			<key>text1</key>
			<string>ヒェー、命だけはお許しをー</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>悪党に払う金など</string>
			<key>text2</key>
			<string>１ゴールドも無い！</string>
		</dict>
	</array>
	<key>archer_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>狩る者　オブジェ</string>
			<key>image</key>
			<string>archer</string>
			<key>text1</key>
			<string>森のフレンズたちの</string>
			<key>text2</key>
			<string>怒りを知れ！</string>
		</dict>
	</array>
	<key>archer_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>狩る者　オブジェ</string>
			<key>image</key>
			<string>archer</string>
			<key>text1</key>
			<string>つ、強すぎる……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>勝った、勝った！</string>
			<key>text2</key>
			<string>夕飯はドン勝だ！</string>
		</dict>
	</array>
	<key>dancer_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お、可愛い子ちゃん発見！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>冷たい谷の踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>踊りましょう……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>冷たい谷の踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>その足が真っ赤になって</string>
			<key>text2</key>
			<string>踊れなくなるまで……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>（……メンヘラだったか）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>dancer_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>冷たい谷の踊り手</string>
			<key>image</key>
			<string>dancer</string>
			<key>text1</key>
			<string>もう踊れない……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>ninja_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>えんじに丸</string>
			<key>image</key>
			<string>ninja</string>
			<key>text1</key>
			<string>……残像だ</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>は、速い！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>ninja_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>えんじに丸</string>
			<key>image</key>
			<string>ninja</string>
			<key>text1</key>
			<string>……残像、じゃない</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>necro_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>死霊術師リスプ</string>
			<key>image</key>
			<string>necro</string>
			<key>text1</key>
			<string>今日からこのゲームのタイトルは</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>死霊術師リスプ</string>
			<key>image</key>
			<string>necro</string>
			<key>text1</key>
			<string>カッパ・オブ・ザ・デッド！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>させるかぁ！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>necro_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>死霊術師リスプ</string>
			<key>image</key>
			<string>necro</string>
			<key>text1</key>
			<string>これで憧れのゾンビに……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>gundom_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>ガソダム</string>
			<key>image</key>
			<string>gundom</string>
			<key>text1</key>
			<string>……カッパを発見。</string>
			<key>text2</key>
			<string>……カッパを発見。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>こいつ……動くぞ！？</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ガソダム</string>
			<key>image</key>
			<string>gundom</string>
			<key>text1</key>
			<string>ビームサーベル装備。</string>
			<key>text2</key>
			<string>銭湯を開始します。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>やるしか……ないのか！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>カッパ、いきまーす！</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>gundom_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>ガソダム</string>
			<key>image</key>
			<string>gundom</string>
			<key>text1</key>
			<string>……活動限界。</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>当たらなければ</string>
			<key>text2</key>
			<string>どうという事もない！</string>
		</dict>
	</array>
	<key>fighter_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>勇者レイルズ</string>
			<key>image</key>
			<string>fighter</string>
			<key>text1</key>
			<string>カッパ如きに、何ができる！</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カッパ</string>
			<key>image</key>
			<string>kappa</string>
			<key>text1</key>
			<string>お前に勝てる！（どんっ）</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>fighter_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>勇者レイルズ</string>
			<key>image</key>
			<string>fighter</string>
			<key>text1</key>
			<string>さすがカッパさん……</string>
			<key>text2</key>
			<string></string>
		</dict>
	</array>
	<key>maou_pre</key>
	<array>
		<dict>
			<key>name</key>
			<string>魔王</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>来たか……</string>
			<key>text2</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>魔王</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>光と闇、どちらが残るべきか。</string>
			<key>text2</key>
			<string>決着を付けよう。</string>
		</dict>
	</array>
	<key>maou_end</key>
	<array>
		<dict>
			<key>name</key>
			<string>魔王</string>
			<key>image</key>
			<string>maou</string>
			<key>text1</key>
			<string>お前こそが</string>
			<key>text2</key>
			<string>真のカッパだ</string>
		</dict>
	</array>
</dict>
</plist>
