<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>murabito</key>
	<dict>
		<key>name</key>
		<string>村人</string>
		<key>explain</key>
		<string>戦闘には向かない村人。 成長率も低いので早く転職した方が良い。  [成長率] HP:  3 筋力: 1 体力: 0 敏捷: 0 知恵: 1 精神: 0 幸運: 1  【習得スキル】 [LV5 :  ど根性カッパ] HPが2以上の時に攻撃を受けても、一度だけ復活する。 復活後のHPは幸運の値と一緒になる。 </string>
		<key>skill</key>
		<string>固有スキル：　なし</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>1</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>fighter</key>
	<dict>
		<key>name</key>
		<string>戦士</string>
		<key>explain</key>
		<string>攻めるのが大好き</string>
		<key>skill</key>
		<string>固有スキル：　物理ダメージアップ</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>2</integer>
		<key>def</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>0</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>knight</key>
	<dict>
		<key>name</key>
		<string>騎士</string>
		<key>explain</key>
		<string>守る事に重きを置いた戦士。 鉄壁の防御力を誇る。  [成長率] HP:  5 筋力: 2 体力: 3 敏捷: 0 知恵: 1 精神: 2 幸運: 0  【習得スキル】 未設定 </string>
		<key>skill</key>
		<string>固有スキル：　物理ダメージ半減</string>
		<key>hp</key>
		<integer>5</integer>
		<key>str</key>
		<integer>2</integer>
		<key>def</key>
		<integer>3</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>1</integer>
		<key>pie</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>priest</key>
	<dict>
		<key>name</key>
		<string>僧侶</string>
		<key>explain</key>
		<string>敬虔な僧侶。 神秘の力でHPを回復する事ができる。  [成長率] HP:  1 筋力: 0 体力: 0 敏捷: 1 知恵: 1 精神: 2 幸運: 2  【習得スキル】 [カッパヒール  LV(lv)]
(tap)タップごとにHPが(lv)回復する。
回復量は僧侶LVに等しい。 </string>
		<key>skill</key>
		<string>固有スキル：　回復力２倍</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>0</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>pie</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>2</integer>
	</dict>
	<key>wizard</key>
	<dict>
		<key>name</key>
		<string>魔法使い</string>
		<key>explain</key>
		<string>趣味：黒魔術。 魔力を高め必殺技の威力を極める事を人生の目的としている。  [成長率] HP:  3 筋力: 1 体力: 1 敏捷: 0 知恵: 3 精神: 2 幸運: 1  【習得スキル】 未設定 </string>
		<key>skill</key>
		<string>固有スキル：　ダブルファイア</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>def</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>3</integer>
		<key>pie</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>thief</key>
	<dict>
		<key>name</key>
		<string>盗賊</string>
		<key>explain</key>
		<string>盗みで生計を立てる者。 生きるために磨かれた独自の技術を持つ。  [成長率] HP:  3 筋力: 2 体力: 2 敏捷: 3 知恵: 0 精神: 0 幸運: 2  【固有スキル】 [縮地] 通常移動が高速になる。</string>
		<key>skill</key>
		<string>固有スキル：　しのび足</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>2</integer>
		<key>def</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>0</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>2</integer>
	</dict>
	<key>necro</key>
	<dict>
		<key>name</key>
		<string>ネクロマンサー</string>
		<key>explain</key>
		<string>死者を操る禁術に魅入られし者。 呪いによる独特なスキルを扱う。  [成長率] HP:  2 筋力: 1 体力: 1 敏捷: 1 知恵: 4 精神: 2 幸運: 0  【習得スキル】 [生命奪取] 敵を撃破時に、ネクロマンサーLVだけHPを回復する。</string>
		<key>skill</key>
		<string>固有スキル：　ダブルファイア</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>def</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>3</integer>
		<key>pie</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
