<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>murabito</key>
	<dict>
		<key>name</key>
		<string>村人</string>
		<key>explain</key>
		<string>戦闘には向かない村人。 成長率も低いので早く転職した方が良い。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV5 :  ど根性カッパ] HPが2以上の時に攻撃を受けても、一度だけ復活します。 復活後のHPは幸運の値と一緒になります。 村人LV5で習得。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>knight</key>
	<dict>
		<key>name</key>
		<string>騎士</string>
		<key>explain</key>
		<string>守る事に重きを置いた戦士。 鉄壁の防御力を誇る。</string>
		<key>own_skill</key>
		<string>[高身長] 身長が高くなります。</string>
		<key>general_skill</key>
		<string>[機械学習(lv)]
LVアップするたびにHPが(lv)回復。 回復量は騎士LVに等しい。 </string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>priest</key>
	<dict>
		<key>name</key>
		<string>僧侶</string>
		<key>explain</key>
		<string>敬虔な僧侶。 神秘の力でHPを回復する事ができる。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[カッパヒール]
20タップごとにHPが回復する。
回復量は僧侶LVに等しい。</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>wizard</key>
	<dict>
		<key>name</key>
		<string>魔法使い</string>
		<key>explain</key>
		<string>趣味：黒魔術。 魔力を高め必殺技の威力を極める事を人生の目的としている。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV10  カッパ波動砲・改] カッパ波動砲が敵を貫通するようになります。 魔法使いLV10で習得。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>thief</key>
	<dict>
		<key>name</key>
		<string>盗賊</string>
		<key>explain</key>
		<string>盗みで生計を立てる者。 生きるために磨かれた独自の技術を持つ。</string>
		<key>own_skill</key>
		<string>[縮地] 通常移動が高速になる。</string>
		<key>general_skill</key>
		<string>[moveヒール]
マップを移動するたびにHPが回復する。
回復量は盗賊LVに等しい。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>3</integer>
	</dict>
	<key>archer</key>
	<dict>
		<key>name</key>
		<string>狩人</string>
		<key>explain</key>
		<string>狩を生業とする者。 弓を扱えば右に出る者はいない。</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV10  カッパ昇熊拳・改] カッパ昇熊拳に横回転の動きが加わり、 ダメージ計算に敏捷も加わります。 狩人LV10で習得。</string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>necro</key>
	<dict>
		<key>name</key>
		<string>ネクロマンサー</string>
		<key>explain</key>
		<string>死者を操る禁術に魅入られし者。 呪いによる独特なスキルを扱う。</string>
		<key>own_skill</key>
		<string>[成仏] ゾンビやミイラの転生能力を封じる。</string>
		<key>general_skill</key>
		<string>[生命奪取] 敵を撃破時に、ネクロマンサーLVだけHPを回復する。</string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>3</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>dancer</key>
	<dict>
		<key>name</key>
		<string>踊り子</string>
		<key>explain</key>
		<string></string>
		<key>own_skill</key>
		<string>[縮地] 移動が早くなります。</string>
		<key>general_skill</key>
		<string>[LV10:ステップアップ] タップする毎に経験値を1獲得します。 踊り子LV10で習得。</string>
		<key>hp</key>
		<integer>3</integer>
		<key>str</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>fighter</key>
	<dict>
		<key>name</key>
		<string>勇者</string>
		<key>explain</key>
		<string>攻めるのが大好き</string>
		<key>own_skill</key>
		<string>なし</string>
		<key>general_skill</key>
		<string>[LV10  真・カッパ頭突き] カッパ頭突きと同時に波動が発動するようになります。 勇者LV10で習得。</string>
		<key>hp</key>
		<integer>5</integer>
		<key>str</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>2</integer>
	</dict>
	<key>ninja</key>
	<dict>
		<key>name</key>
		<string>ネクロマンサー</string>
		<key>explain</key>
		<string>死者を操る禁術に魅入られし者。 呪いによる独特なスキルを扱う。</string>
		<key>own_skill</key>
		<string></string>
		<key>general_skill</key>
		<string>[生命奪取] 敵を撃破時に、ネクロマンサーLVだけHPを回復する。</string>
		<key>hp</key>
		<integer>4</integer>
		<key>str</key>
		<integer>3</integer>
		<key>agi</key>
		<integer>4</integer>
		<key>int</key>
		<integer>3</integer>
		<key>luc</key>
		<integer>0</integer>
	</dict>
	<key>dark_knight</key>
	<dict>
		<key>name</key>
		<string>暗黒騎士</string>
		<key>explain</key>
		<string></string>
		<key>own_skill</key>
		<string></string>
		<key>general_skill</key>
		<string></string>
		<key>hp</key>
		<integer>0</integer>
		<key>str</key>
		<integer>5</integer>
		<key>agi</key>
		<integer>5</integer>
		<key>int</key>
		<integer>5</integer>
		<key>luc</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
