<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>murabito</key>
	<dict>
		<key>name</key>
		<string>村人</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>1</integer>
		<key>def</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>pie</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>fighter</key>
	<dict>
		<key>name</key>
		<string>戦士</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>2</integer>
		<key>def</key>
		<integer>1</integer>
		<key>agi</key>
		<integer>2</integer>
		<key>int</key>
		<integer>0</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>knight</key>
	<dict>
		<key>name</key>
		<string>騎士</string>
		<key>hp</key>
		<integer>2</integer>
		<key>str</key>
		<integer>1</integer>
		<key>def</key>
		<integer>2</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>0</integer>
		<key>pie</key>
		<integer>1</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>priest</key>
	<dict>
		<key>name</key>
		<string>僧侶</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>0</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>1</integer>
		<key>int</key>
		<integer>1</integer>
		<key>pie</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>2</integer>
	</dict>
	<key>wizard</key>
	<dict>
		<key>name</key>
		<string>魔法使い</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>0</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>0</integer>
		<key>int</key>
		<integer>3</integer>
		<key>pie</key>
		<integer>2</integer>
		<key>luc</key>
		<integer>1</integer>
	</dict>
	<key>thief</key>
	<dict>
		<key>name</key>
		<string>盗賊</string>
		<key>hp</key>
		<integer>1</integer>
		<key>str</key>
		<integer>1</integer>
		<key>def</key>
		<integer>0</integer>
		<key>agi</key>
		<integer>3</integer>
		<key>int</key>
		<integer>0</integer>
		<key>pie</key>
		<integer>0</integer>
		<key>luc</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
