<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_kazan</string>
		<key>lv</key>
		<integer>9</integer>
		<key>enemies</key>
		<array/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>天使の目撃情報……</string>
		<key>event_text1</key>
		<string>見過ごす訳にはいかぬ</string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>death</string>
			<string>miira</string>
			<string>priest</string>
		</array>
		<key>is_boss</key>
		<false/>
		<key>boss_name</key>
		<string>堕天使　エリクサ</string>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<false/>
	</dict>
	<key>0.4</key>
	<dict>
		<key>enemies</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>angel</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>boss_name</key>
		<string>堕天使　エリクサ</string>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<false/>
	</dict>
</dict>
</plist>
