<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_sabaku</string>
		<key>lv</key>
		<integer>4</integer>
		<key>enemies</key>
		<array/>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>まさに世紀末だ。</string>
		<key>event_text1</key>
		<string>この無法地帯で頼れるのは力のみ。</string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>background</key>
		<string>bg_sabaku</string>
		<key>enemies</key>
		<array>
			<string>buffalo</string>
			<string>arakure</string>
			<string>chibidora</string>
		</array>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<false/>
	</dict>
	<key>0.7</key>
	<dict>
		<key>background</key>
		<string>bg_sabaku</string>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>この先に強力な敵の気配を感じる。</string>
		<key>event_text1</key>
		<string></string>
	</dict>
	<key>0.8</key>
	<dict>
		<key>background</key>
		<string>bg_sabaku</string>
		<key>enemies</key>
		<array>
			<string>arakure</string>
			<string>arakure</string>
			<string>arakure</string>
			<string>thief</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>「ヘッヘッヘ。</string>
		<key>event_text1</key>
		<string>　金を置いてきな」</string>
		<key>boss_word0</key>
		<string>「ヒェー。お許しをー」</string>
		<key>boss_word1</key>
		<string></string>
	</dict>
</dict>
</plist>
