<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_forest</string>
		<key>lv</key>
		<integer>5</integer>
		<key>enemies</key>
		<array/>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>獣たちの殺気を感じる。</string>
		<key>event_text1</key>
		<string></string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>buffalo</string>
			<string>usagi</string>
			<string>tokage</string>
			<string>chibidora</string>
		</array>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<false/>
	</dict>
	<key>0.5</key>
	<dict>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>この先に強力な敵の気配を感じる。</string>
		<key>event_text1</key>
		<string></string>
	</dict>
	<key>0.6</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>buffalo</string>
			<string>usagi</string>
			<string>tokage</string>
			<string>archer</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>「カッパごときに何ができる！？」</string>
		<key>event_text1</key>
		<string></string>
		<key>boss_word0</key>
		<string>「さすがカッパさん……」</string>
		<key>boss_word1</key>
		<string></string>
		<key>clear_word</key>
		<string>森の動物がフレンズになった！</string>
	</dict>
</dict>
</plist>
