<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_lake</string>
		<key>lv</key>
		<integer>2</integer>
		<key>enemies</key>
		<array/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>今日で修行も最終日だ。</string>
		<key>event_text1</key>
		<string>なぜか妙な胸騒ぎがする。</string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>hiyoko</string>
			<string>hiyoko</string>
			<string>usagi</string>
			<string>buffalo</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>左　左　右　右　左　でカッパ波動砲</string>
		<key>event_text1</key>
		<string>遠距離攻撃だ！</string>
	</dict>
	<key>0.2</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>hiyoko</string>
			<string>hiyoko</string>
			<string>ghost</string>
			<string>ghost</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>左　右　右　いm技　左　でカッパ旋風蹴。</string>
		<key>event_text1</key>
		<string>強力なカウンター攻撃だ！</string>
	</dict>
	<key>0.3</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>hiyoko</string>
			<string>usagi</string>
			<string>ghost</string>
		</array>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>チュートリアルは以上で終了だ。</string>
		<key>event_text1</key>
		<string>後は酒場でじょうほう収集をすると良い。</string>
	</dict>
	<key>0.4</key>
	<dict>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>……この先で、最後の試練が待っている。</string>
		<key>event_text1</key>
		<string>君の胸騒ぎは最高潮に達している！</string>
	</dict>
	<key>0.5</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>ghost</string>
			<string>ghost</string>
			<string>ghost</string>
			<string>knight</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<false/>
		<key>boss_name</key>
		<string>砕けぬ騎士　シー・シャープ</string>
	</dict>
</dict>
</plist>
