<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_haikyo</string>
		<key>enemies</key>
		<array/>
		<key>lv</key>
		<integer>3</integer>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>教会も今はもう無い。</string>
		<key>event_text1</key>
		<string></string>
		<key>job</key>
		<string>nil</string>
		<key>tutorial</key>
		<string>nil</string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>ghost</string>
			<string>usagi</string>
			<string>hiyoko</string>
		</array>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<false/>
	</dict>
	<key>0.5</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>ghost</string>
			<string>usagi</string>
			<string>hiyoko</string>
		</array>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>この先に強力な敵の気配を感じる。</string>
		<key>event_text1</key>
		<string></string>
	</dict>
	<key>0.6</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>ghost</string>
			<string>ghost</string>
			<string>ghost</string>
			<string>priest</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>「死こそが救い……</string>
		<key>event_text1</key>
		<string>　共に天国へと行きましょう」</string>
		<key>boss_word0</key>
		<string>「神さま……」</string>
		<key>boss_word1</key>
		<string></string>
		<key>clear_word</key>
		<string>彼らは信じるべき神を間違えた。</string>
	</dict>
</dict>
</plist>
