<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_dungeon</string>
		<key>lv</key>
		<integer>50</integer>
		<key>enemies</key>
		<array/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>開発室へようこそ！</string>
		<key>event_text1</key>
		<string></string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>angel</string>
			<string>angel</string>
			<string>angel</string>
			<string>angel</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>作者のお気に入りの敵は天使。</string>
		<key>event_text1</key>
		<string>見えない斬撃がかっこいい。</string>
	</dict>
	<key>0.2</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>king</string>
			<string>maou</string>
			<string>miyuki</string>
			<string>master</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>モンスター召喚技は</string>
		<key>event_text1</key>
		<string>処理落ちが心配……</string>
	</dict>
	<key>0.3</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>dark_kappa</string>
			<string>dark_kappa</string>
			<string>dark_kappa</string>
			<string>dark_hiyoko</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<false/>
	</dict>
	<key>0.4</key>
	<dict>
		<key>enemies</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>やり込み好きな人のため</string>
		<key>event_text1</key>
		<string>最強の敵を用意しました。</string>
	</dict>
	<key>0.5</key>
	<dict>
		<key>enemies</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>kappa</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>boss_name</key>
		<string>最強のカッパ</string>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<false/>
	</dict>
</dict>
</plist>
