<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0</key>
	<dict>
		<key>background</key>
		<string>bg_green</string>
		<key>lv</key>
		<integer>1</integer>
		<key>enemies</key>
		<array/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>画面の右側をタップで右側に進む。</string>
		<key>event_text1</key>
		<string>画面の左側をタップで左側に進む。</string>
	</dict>
	<key>0.1</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>hiyoko</string>
			<string>hiyoko</string>
			<string>hiyoko</string>
			<string>usagi</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>進む先に敵がいれば自動で攻撃。</string>
		<key>event_text1</key>
		<string>立ちはだかる敵は全て吹っ飛ばそう。</string>
	</dict>
	<key>0.2</key>
	<dict>
		<key>background</key>
		<string>bg_lake</string>
		<key>enemies</key>
		<array>
			<string>hiyoko</string>
			<string>usagi</string>
			<string>usagi</string>
			<string>buffalo</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>敵もたまに攻撃してくる。</string>
		<key>event_text1</key>
		<string>離れていれば安全だ。</string>
	</dict>
	<key>0.3</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>hiyoko</string>
			<string>usagi</string>
			<string>chibidora</string>
			<string>chibidora</string>
		</array>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>魔法攻撃を使う敵もいる。</string>
		<key>event_text1</key>
		<string>ファイアボールに注意。</string>
	</dict>
	<key>0.4</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>usagi</string>
			<string>chibidora</string>
			<string>bat</string>
		</array>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>ステージの最後にはボスが待ち受けている。</string>
		<key>event_text1</key>
		<string>ボスを倒せば新たなジョブを取得できる。</string>
	</dict>
	<key>0.5</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>usagi</string>
			<string>bat</string>
			<string>chibidora</string>
		</array>
		<key>is_random</key>
		<true/>
		<key>event</key>
		<false/>
	</dict>
	<key>0.6</key>
	<dict>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>この先に強力な敵の気配を感じる。</string>
		<key>event_text1</key>
		<string></string>
	</dict>
	<key>0.7</key>
	<dict>
		<key>enemies</key>
		<array>
			<string>usagi</string>
			<string>bat</string>
			<string>bat</string>
			<string>wizard</string>
		</array>
		<key>is_boss</key>
		<true/>
		<key>is_random</key>
		<false/>
		<key>event</key>
		<true/>
		<key>event_text0</key>
		<string>「ファイアボールの力をお見せしよう」</string>
		<key>event_text1</key>
		<string></string>
		<key>boss_word0</key>
		<string>「さすがカッパさん……</string>
		<key>boss_word1</key>
		<string>　私の完敗です」</string>
		<key>clear_word</key>
		<string>早く冒険に出たい！</string>
	</dict>
</dict>
</plist>
