<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>priest</key>
	<string>[カッパヒール  LV(lv)]
(tap)タップごとにHPが(lv)回復する。
回復量は僧侶LVに等しい。  </string>
	<key>necro</key>
	<string>[生命奪取 LV(lv)]
敵撃破時にHPが(lv)回復する。
回復量はネクロマンサーLVに等しい。  </string>
	<key>murabito</key>
	<string>[ど根性かっぱ]
死ぬダメージを受けても稀にHP１で生き残る。 （HPが2以上の時に攻撃を受けて発動。幸運が高いほど発生確率は高まる）  </string>
	<key>thief</key>
	<string>[moveヒール LV(lv)]
マップを移動するたびにHPが(lv)回復。 回復量は盗賊LVに等しい。</string>
	<key>knight</key>
	<string>[機械学習(lv)]
LVアップするたびにHPが(lv)回復。 回復量は騎士LVに等しい。 </string>
	<key>wizard</key>
	<string>[カッパ波動砲・改]
カッパ波動砲が敵を貫通するようになる。 これで一列に並んだ敵を倒すと気持ちいい。</string>
	<key>archer</key>
	<string>[カッパ昇熊拳・改]
カッパ昇熊拳に横回転の動きが加わる事で、 敏捷の値だけ更に威力が増す。
</string>
	<key>dancer</key>
	<string>[タップダンス] タップする毎に１経験値を得ます。 </string>
	<key>fighter</key>
	<string>[真・カッパ頭突き] カッパ頭突きと同時に波動を放ちます。</string>
	<key>angel</key>
	<string>[スーパーカッパ頭突き] 回復量は天使LVと一緒です。</string>
	<key>gundom</key>
	<string>[滅・竜巻旋風蹴] 竜巻旋風脚を使用時、上方向に波動を発生させる。</string>
	<key>ninja</key>
	<string>[滅・昇熊拳] 昇熊拳を使用時、上方向に波動を発生させる。</string>
	<key>king</key>
	<string>[カッパ波動砲の極み] 波動砲を打つたびにHPが回復する。 回復量は皇帝LVに等しい。</string>
	<key>maou</key>
	<string>[カッパ昇熊拳の極み] 昇熊拳を打つたびにHPが回復する。 回復量は魔王LVに等しい。</string>
	<key>miyuki</key>
	<string>なし</string>
	<key>arakure</key>
	<string>[無成長] 一切の経験値が手に入らない。 まるで成長していない……。</string>
	<key>assassin</key>
	<string>[カッパ竜巻の極み] カッパ旋風蹴を使うたびにHPが回復。 回復量は暗殺者LVに等しい。</string>
	<key>dark_kappa</key>
	<string>なし</string>
</dict>
</plist>
