<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0.0</key>
	<string>リリースバージョン。 伝説はここから、始まった！</string>
	<key>1.1.0</key>
	<string>下記の改修を行いました。

- デバッグモードの追加
（チュートリアルを終えている場合、タイトル画面から設定できます）
- 経験値稼ぎの隠しダンジョンを追加
（天使を倒すと情報を教えてくれます ）
- 第２章への準備を開始
- 一部のテキスト修正
 下記のバランス調整を行いました。

- 取得経験値を僅かに上昇
- 一部の敵のステータス変更
 下記の不具合を修正しました。

- ラスボス戦で画面左側を連打するとアプリが停止する不具合を修正
- 裏ボスが画面外から消えて倒せなくなる不具合を修正
- ボスとの会話中に動けない状態で攻撃を食らって死亡するとフリーズする不具合を修正</string>
	<key>1.2.0</key>
	<string>* ゲーム画面のデザインを改修
* 敵の技名が表示されるようになりました
* ツィート機能を追加
- ゲームクリア画面や会話パートでツィート投稿ができるようになりました

* 音楽室の機能を強化

- 音楽室で曲名の表示や音量調整をできるようになりました
- ２章の音楽が先行して視聴可能です
- 魔王魂様の至高の音楽で癒されてください
※音楽室はタイトル画面の十字架をタップする事で行く事ができます

* アップデート内容をタイトル画面から確認できるようになりました
* アップデート内容をメニュー画面から確認できるようになりました

* オプションのメニューを追加

- デバッグモードの on/off はオプション画面で切り替えられるようになりました

* エンディング後にタイトルに戻るボタンを追加
* 軽微な不具合を修正</string>
	<key>2.0.0</key>
	<string>２章の公開を予定</string>
</dict>
</plist>
