<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0.0</key>
	<string>リリースバージョン。 伝説はここから、始まった！</string>
	<key>1.1.0</key>
	<string>下記の改修を行いました。

- デバッグモードの追加
（チュートリアルを終えている場合、タイトル画面から設定できます）
- 経験値稼ぎの隠しダンジョンを追加
（天使を倒すと情報を教えてくれます ）
- 第２章への準備を開始
- 一部のテキスト修正
 下記のバランス調整を行いました。

- 取得経験値を僅かに上昇
- 一部の敵のステータス変更
 下記の不具合を修正しました。

- ラスボス戦で画面左側を連打するとアプリが停止する不具合を修正
- 裏ボスが画面外から消えて倒せなくなる不具合を修正
- ボスとの会話中に動けない状態で攻撃を食らって死亡するとフリーズする不具合を修正</string>
	<key>1.2.0</key>
	<string></string>
	<key>2.0.0</key>
	<string>(予定) ２章の公開</string>
</dict>
</plist>
